[submodule "modules/vim-pathogen"]
	path = modules/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "modules/nerdtree"]
	path = modules/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "modules/nerdcommenter"]
	path = modules/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "modules/vim-jsbeautify"]
	path = modules/vim-jsbeautify
	url = https://github.com/maksimr/vim-jsbeautify.git
[submodule "modules/mango.vim"]
	path = modules/mango.vim
	url = https://github.com/goatslacker/mango.vim
[submodule "modules/vim-node"]
	path = modules/vim-node
	url = https://github.com/moll/vim-node.git
[submodule "modules/vim-javascript-syntax"]
	path = modules/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule "modules/javascript-libraries-syntax.vim"]
	path = modules/javascript-libraries-syntax.vim
	url = https://github.com/othree/javascript-libraries-syntax.vim.git
[submodule "modules/syntastic"]
	path = modules/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "modules/YouCompleteMe"]
	path = modules/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "modules/tern_for_vim"]
	path = modules/tern_for_vim
	url = https://github.com/marijnh/tern_for_vim.git
[submodule "modules/scss-syntax.vim"]
	path = modules/scss-syntax.vim
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "modules/vim-json"]
	path = modules/vim-json
	url = https://github.com/elzr/vim-json.git
